@mixin inputs(){
  $color-dark: #000;
  .grey-input{
    font-size: 0.9em;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #dfdfdf;
    border-top-color: rgb(223, 223, 223);
    border-right-color: rgb(223, 223, 223);
    border-bottom-color: rgb(223, 223, 223);
    border-left-color: rgb(223, 223, 223);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: $color-dark;
    font-weight: 100;
    &::-webkit-input-placeholder {color:$color-dark;}
    &::-moz-placeholder          {color:$color-dark;}/* Firefox 19+ */
    &:-moz-placeholder           {color:$color-dark;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:$color-dark;}
    &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
    &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
    &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
    &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
    &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
    &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
    &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
    &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
    &:focus{
      border-color: #2a92e5;
      -webkit-box-shadow: 0 0 2px 0 #2a92e5;
      box-shadow: 0 0 2px 0 #2a92e5;
    }
  }
  input[placeholder]          {text-overflow:ellipsis;}
  input::-moz-placeholder     {text-overflow:ellipsis;}
  input:-moz-placeholder      {text-overflow:ellipsis;}
  input:-ms-input-placeholder {text-overflow:ellipsis;}

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .grey-input{
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #dfdfdf;
    border-top-color: rgb(223, 223, 223);
    border-right-color: rgb(223, 223, 223);
    border-bottom-color: rgb(223, 223, 223);
    border-left-color: rgb(223, 223, 223);
    -webkit-border-radius: 4px;
    border-radius: 2px;
    color: $color-dark;
    font-weight: 100;
    &.error{
      border-color: red;
      box-shadow: 0px 0px 1px 1px rgba(255,0,0,0.4);
    }
    &:focus{
      border-color: #2a92e5;
      -webkit-box-shadow: 0 0 2px 0 #2a92e5;
      box-shadow: 0 0 2px 0 #2a92e5;
    }
  }

}

