/*************profile edit***********************/
.profile-edit{

  @include table();
  @include inputs();
  @include icons();
  margin-bottom: 20px;

  textarea.grey-input{
    height: 60px;
    box-sizing: border-box;
    padding-top:10px;
    resize: none;
  }

  .table{
    @include breakpoint(max-width 600px){
      width: 100%;
    }
    .table-row{
      .table-cell{
        vertical-align: middle;
        padding: 5px;
        padding-bottom: 5px;
        padding-top:5px;
        font-size: 1em;
        color: #000;
        &:first-child{
          text-align: right;
          font-weight: 100;
          width: 200px;
        }
      }
    }
  }
  .profile-info{
    .table{
      width: auto;
      .table-cell{
        text-align: left!important;
        .label-cell{
          width: 20px;
        }
      }
    }
  }
  .profile-input-block{
    .profile-input-item{
      .profile-item-header{
        font-size: 1.4em;
        margin-top: 40px;
        margin-bottom: 20px;
        color: #000;
      }
    }
    .detail-link-btn {
      -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
      -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
      background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
      background-color:#ededed;
      -webkit-border-top-left-radius:6px;
      -moz-border-radius-topleft:6px;
      border-top-left-radius:6px;
      -webkit-border-top-right-radius:6px;
      -moz-border-radius-topright:6px;
      border-top-right-radius:6px;
      -webkit-border-bottom-right-radius:6px;
      -moz-border-radius-bottomright:6px;
      border-bottom-right-radius:6px;
      -webkit-border-bottom-left-radius:6px;
      -moz-border-radius-bottomleft:6px;
      border-bottom-left-radius:6px;
      text-indent:0;
      border:1px solid #dcdcdc;
      display:inline-block;
      color:#777777;
      font-family:Verdana;
      font-size:15px;
      font-weight:bold;
      font-style:normal;
      height:50px;
      line-height:50px;
      padding-left:20px;
      padding-right:20px;
      text-decoration:none;
      text-align:center;
    }
    .detail-link-btn:hover {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
      background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
      background-color:#dfdfdf;
    }.detail-link-btn:active {
       position:relative;
       top:1px;
     }
  }
}
.msg-header{
  font-size:1.3em;
}
.created_error{
  color:red;
}
.created_ok{
  color: green;
}
